// Circular STD Book

@font-face {
  font-family: 'circularStdBook';
  src: url('fonts/CircularSpUIv3T-Book.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

// Circular STD Black

@font-face {
  font-family: 'circularStdBlack';
  src: url('fonts/CircularSpUIv3T-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

// Circular STD Bold

@font-face {
  font-family: 'circularStdBold';
  src: url('fonts/CircularSpUIv3T-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}