footer {
  background-color: var(--purple);
  padding: 40px;

  a {
    color: var(--white);
  }

  .col {
    @media only screen and (min-width: 600px) {
      width: 50%;
    }
  }

}

.social-links {
  display: block;
  list-style: none;
  padding: 0;
  margin:30px 0 20px;

  @media only screen and (min-width: 600px) {
    margin-top: 0;
  }
  
  > li {
    float: left;
    margin-right: 15px;
    a {
      display: block;
    }
  }
}