:root {
  --black: #262626;
  --light-purple: #77478C;
  --white: #ffffff;
  --yellow: #F8ED3F;
  --green: #23A781;
  --purple: #3F1C6E;
  --blue: #59C6D2;
  --pink: #FDAAEA;
  --sand: #EBE0BB;
  --red: #F05457;
}